# Ignore data, training/testing outputs, models, logs, virtual environment, caches, and system files

data/
output/
logs/
models/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store
*.egg-info/
*.log

# Allow core code and configs
!src/**
!config/**
!notebooks/**
!README.md
!requirements.txt
!*.sh
!*.py
!Dockerfile